*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: "Nanum Brush Script", cursive;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    cursor: url('./assets/cursor.png'), auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* background: linear-gradient(1deg, rgba(244,84,68,1) 76%, rgb(214, 69, 56) 100%);  */
    background: linear-gradient(0deg, rgba(232,225,207,1) 81%, rgba(212,205,188,1) 100%); 
    /* background: radial-gradient(circle, rgba(232,225,207,1) 78%, rgb(221, 207, 173) 100%);     background-color: #f45444; */
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}



nav {
    margin-top: 11px;
    display: flex;
    justify-content: center;
    gap: 177px;
    /* border: 2px solid black; */
    /* justify-content: center; */
    /* gap: 170px; */

}

.container {
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 117px;
    cursor: url('./assets/pointer.png'), auto;
    transition: transform .2s;
}

.container:hover {
    transform: scale(1.02);
}
.main:hover {
    box-shadow: 0px 7px #1c4578;
    color: #282542;
}

.main {
    box-shadow: 0px 4px #e66b6b9c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bolder;
    color: #e9e2d0;
    height: 100%;
    width: 100%;
    background-color: #cb332c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.container:nth-child(4) .main{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}

.flags {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.one,
.two,
.three {
    height: 19px;
    width: 19px;
    background-color: #cb332c;
}

.pole {
    width: 100%;
    /* border: 5px solid #282542; */
    height: 10px;
    border-bottom: #4675af 3px solid;
    background-color: #1c4678;
    position: absolute;
    top: 15px;
    z-index: -1;
}

#content {
    /* outline: 5px solid blue; */
    flex: 1;
    /* border: 2px black solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    margin-bottom: 50px;
    width: 50%;
}

.github{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px #cb332c,  4px 9px #1c4678 ;
    border: 2px solid #1c4678;
    width: 200px;
    height: 50px;
    background-color: #95b1a4;
    position: absolute;
    right: 0;
    color: #e9e2d0;
    bottom: 7%;
    transition: transform .2s;
}
.github:hover{
    background-color: #cb332c;
    box-shadow: 7px 7px #1c4678,  4px 9px #cb332c ;
    cursor: url('./assets/pointer.png'), auto;
}
.menu img{
    /* width: 25%; */
    /* border: 2px solid; */
    width: 250px;
    margin-top: 30px;

}
.menu{
    border: 5px solid #1c4578c9;
    margin-left: 110px;
    border-radius: 10px;
    margin-bottom: 35px;
    width: 55%;
    background-color: #95b1a4;
    box-shadow: 15px 15px #cb332c, 19px 20px #1c4678;;
    height: 70%;
    /* border: 2px solid; */
    gap: 30px;
    display: flex;
    transition: transform .2s;
}

h2{
    color:antiquewhite;
    font-size: 2.3rem;
}
h3{
    color: #cb332c;
    font-size: 2.7rem;
}
.ramenOne p, .ramenTwo p, .ramenThree p{
    font-size: 1.4rem;
    font-weight: bolder;
}
.ramenOne , .ramenTwo , .ramenThree {
    color:#1c4678;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    
}
.menu img:hover{
    transform: scale(1.03);
}
.logo{
    height: 100px;
    width: 110px;
    position: fixed;
    left: 20px;
    bottom: 20px;
}
.menuFill{
    margin-left: 50px;
}

.aboutImg{
    border: 3px solid #cb332c;
    height: 80%;
    border-radius: 10px;
    box-shadow: 10px 10px #1c4678, 13px 13px #cb332c;

}
.aboutContainer{
    display: flex;
    align-items: center;
    /* border: 5px solid; */
    height: 550px;
    margin-bottom: 30px
}
.paragraphContainer{
    margin-right: 70px;
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    border: #1c4578de solid 3px;
    height: 50%;
    width: 500px;
    background-color:#95b1a4;
    box-shadow: 10px 10px #cb332c, 13px 13px #1c4578;
}
.fill{
    margin-left: 20px;
}